body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    text-align: center;
  }
  
  .registration-container h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  .input-subgroup {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .input-group label,
  .input-group input {
    margin: 5px;
  }
  
  .input-group label {
    width: 100px;
    text-align: right;
    color: #666;
  }
  
  .input-subgroup label {
    margin-right: 10px;
  }
  
  .input-subgroup input[type="text"],
  .input-subgroup input[type="email"],
  .input-subgroup input[type="password"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .gender-group label {
        margin-right: auto; 
        margin-left: 40px;   
        align-content: center;
        flex: 1;
        display: flex;
        align-items: center;
  }
  
  .register-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 600px;
  }
  
  .register-button:hover {
    background-color: #2980b9;
  }
  