.App {
  text-align: center;
}

.AppCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: small;
  height: 80%; 
  margin: 0 auto;
  margin-top: 15%;
  background-color: rgb(242,242,242, 0.3);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-swal-title {
  font-size: 24px; 
}

.custom-swal-icon{
  font-size: 24px;
}

.custom-swal-timer {
  background-color:chartreuse; 
}

.custom-swal-button{
  width: 100px;
}

.animation {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.dot1,
.dot3 {
  opacity: 0;
  animation: dotBlink 1s infinite;
}

.dot2 {
  opacity: 0;
  animation: dotBlink 0.5s infinite;
}

@keyframes dotBlink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1.0;
  }
}
