/* ManageQuiz.css */

/* Container for the entire page */
.manage-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the quiz list container */
  .quiz-list-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
  }
  
  /* Title styles */
  .quiz-list-container h1 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  /* Button to add a quiz */
  .add-quiz-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 20px;
  }
  
  /* Styles for the quiz grid */
  .quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }
  
  /* Styles for quiz cards */
  .quiz-card {
    border: 2px solid #e207d0;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: #f8e8e8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Quiz card title styles */
  .quiz-card h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Quiz card description styles */
  .quiz-card p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Button container styles */
  .open-quiz {
    margin-top: 15px;
  }
  
  /* Button styles */
  .edit-button,
  .delete-button,
  .open-button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: green;
    color: white;
  }
  
  .delete-button {
    background-color: red;
    color: white;
  }
  
  .open-button {
    background-color: #007BFF;
    color: white;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .quiz-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  